In [1]:
import pandas as pd
import os

In [2]:
pd.options.display.max_columns = 100
pd.options.display.max_rows=120

In [3]:
data_dict = {}
data_path = '../data/csv'

In [4]:
for csv_file in os.listdir(data_path):
    #print(csv_file)
    data_dict[str(csv_file)] = pd.read_csv("%s/%s"%(data_path,csv_file), sep=None,engine='python')

In [5]:
for key, value in data_dict.items():
    print("File: %s has %d columns" %(key, len(value.columns)))

File: DEF_2015.csv has 55 columns
File: DEF_2002.csv has 50 columns
File: defun98.csv has 50 columns
File: defun99.csv has 50 columns
File: DEF_2017.csv has 50 columns
File: DEF_2003.csv has 50 columns
File: D06_PAIS.csv has 50 columns
File: DEF_2004.csv has 50 columns
File: PAIS08.csv has 50 columns
File: defun2000.csv has 50 columns
File: DEF2009.csv has 51 columns
File: DEF2011.csv has 61 columns
File: def2005.csv has 50 columns
File: 2001.csv has 49 columns
File: Def2010.csv has 50 columns
File: DEF2012.csv has 60 columns
File: DEF2013.csv has 54 columns
File: DEF2007.csv has 50 columns
File: DEF2016.csv has 50 columns
File: DEF2014.csv has 54 columns
File: defun92.csv has 49 columns
File: defun93.csv has 49 columns
File: defun91.csv has 49 columns
File: defun90.csv has 49 columns
File: defun94.csv has 49 columns
File: defun95.csv has 49 columns
File: defun97.csv has 50 columns
File: defun96.csv has 49 columns

In [6]:
set(data_dict['defun99.csv'].columns) - set(data_dict['defun96.csv'].columns)

{'ANO1_NAC',
 'ANO2_NAC',
 'ANO_DEF',
 'ANO_PARTO',
 'CATEG_M',
 'CATEG_P',
 'CURSO_M',
 'CURSO_P',
 'DIA_DEF',
 'DIA_NAC',
 'DIA_PARTO',
 'EDAD_P',
 'EST_CIV_M',
 'LUGAR_DEF',
 'MES_DEF',
 'MES_NAC',
 'MES_PARTO',
 'NIVEL_M',
 'NIVEL_P',
 'OCUPA_P',
 'PARTO_ABOR',
 'REG_RES',
 'SERV_RES',
 'URB_RURAL'}

In [7]:
columns_dict = {}

In [8]:
for key,value in data_dict.items():
    for col in value.columns:
        if col in columns_dict:
            columns_dict[col] = columns_dict[col] +1
        else:
            columns_dict[col] = 1

In [9]:
col_info = pd.DataFrame(columns_dict,index=[0]).T

In [10]:
col_info.columns = ['number']

In [11]:
col_info.reset_index().sort_values(['number','index'],ascending=False)

          index  number
5          SEXO      28
25         PESO      28
27    NUTRITIVO      28
10    NIVEL_INS      28
30    HIJ_VIVOS      28
33    HIJ_TOTAL      28
32     HIJ_MORT      28
31     HIJ_FALL      28
26    GESTACION      28
6     EST_CIVIL      28
7     EDAD_TIPO      28
28       EDAD_M      28
8     EDAD_CANT      28
21        DIAG2      28
20        DIAG1      28
9     CURSO_INS      28
18       COMUNA      28
23   CAL_MEDICO      28
22    AT_MEDICA      28
24    COD_MENOR      26
2       MES_NAC      21
1       DIA_NAC      21
62      OCUPA_M      20
56    OCUPACION      20
57    CATEGORIA      20
4      ANO2_NAC      20
3      ANO1_NAC      20
67      ACTIV_P      20
61      ACTIV_M      20
55    ACTIVIDAD      20
43   EDAD_PADRE      19
34   PARTO_ABOR      17
36    MES_PARTO      17
15      MES_DEF      17
35    DIA_PARTO      17
14      DIA_DEF      17
37    ANO_PARTO      17
16      ANO_DEF      17
54     SERV_RES      16
53      REG_RES      16
77     RES_SERV      12
76      RES_REG      12
80   PART_ABORT      11
87     OCUPAC_P      11
90   NIVE_INS_P      11
86   NIVE_INS_M      11
79   EST_CIVI_M      11
73      DEF_MES      11
75    DEF_LOCAL      11
72      DEF_DIA      11
74      DEF_ANO      11
89   CURS_INS_P      11
85   CURS_INS_M      11
88     CATEGO_P      11
84     CATEGO_M      11
58    LUGAR_DEF      10
59    URB_RURAL       9
68      OCUPA_P       9
71      NIVEL_P       9
65      NIVEL_M       9
60    EST_CIV_M       9
66       EDAD_P       9
70      CURSO_P       9
64      CURSO_M       9
69      CATEG_P       9
63      CATEG_M       9
19   URBA_RURAL       8
45     OCUPA_PA       8
39     OCUPA_MA       8
12        OCUPA       8
48     NIVEL_PA       8
42     NIVEL_MA       8
17    LOCAL_DEF       8
29   EST_CIV_MA       8
47     CURSO_PA       8
41     CURSO_MA       8
46     CATEG_PA       8
40     CATEG_MA       8
13        CATEG       8
44     ACTIV_PA       8
38     ACTIV_MA       8
11        ACTIV       8
99    PARTO_MES       7
98    PARTO_DIA       7
100   PARTO_ANO       7
102     NAC_MES       7
101     NAC_DIA       7
104    NAC_ANO2       7
103    NAC_ANO1       7
52   FUND_CAUSA       7
51     LOCA_DEF       5
49      CER_MES       5
50      CER_ANO       5
82     PART_MES       4
81     PART_DIA       4
83     PART_ANO       4
78         AREA       4
96      MV_TIPO       2
94     MV_LUGAR       2
95   MV_CIRCUNT       2
92    GLO_OCUPA       2
93     C_MEDICO       2
97   COD_COMUNA       2
91      ANO_NAC       2
0    Unnamed: 0       1

In [12]:
rename_dict = {'DIA_NAC':'NAC_DIA',
               'MES_NAC':'NAC_MES',
               'ANO1_NAC':'NAC_ANO1',
               'ANO2_NAC':'NAC_ANO2',
               'ANO_DEF':'DEF_ANO',
               'MES_DEF':'DEF_MES',
               'DIA_DEF':'DEF_DIA',
               'MES_PARTO':'PARTO_MES',
               'DIA_PARTO':'PARTO_DIA',
               'ANO_PARTO':'PARTO_ANO',
               'PART_DIA':'PARTO_DIA',
               'PART_MES':'PARTO_MES',
               'PART_ANO':'PARTO_ANO',
               'PARTO_ABOR':'PART_ABORT',
               'SERV_RES':'RES_SERV',
               'REG_RES':'RES_REG',
              'CATEG_PA':'CATEGO_PADRE',
              'CATEG_MA':'CATEGO_MADRE',
              'CATEG':'CATEGORIA',
              'CATEG_P':'CATEGO_PADRE',
              'CATEG_M':'CATEGO_MADRE',
              'CATEGO_P':'CATEGO_PADRE',
              'CATEGO_M':'CATEGO_MADRE',
              'OCUPA_PA':'OCUPAC_PADRE',
              'OCUPA_MA':'OCUPAC_MADRE',
              'OCUPA':'OCUPACION',
              'OCUPA_P':'OCUPAC_PADRE',
              'OCUPAC_P':'OCUPAC_PADRE',
              'OCUPA_M':'OCUPAC_MADRE',
              'ACTIV_P':'ACTIVI_PADRE',
              'ACTIV_M':'ACTIVI_MADRE',
               'ACTIV_PA':'ACTIVI_PADRE',
               'ACTIV_MA':'ACTIVI_MADRE',
               'ACTIV':'ACTIVIDAD',
               'NIVE_INS_P':'NIVEL_PADRE',
               'NIVE_INS_M':'NIVEL_MADRE',
               'NIVEL_P':'NIVEL_PADRE',
               'NIVEL_M':'NIVEL_MADRE',
               'NIVEL_PA':'NIVEL_PADRE',
               'NIVEL_MA':'NIVEL_MADRE',
               'CATEG':'CATEGORIA',
               'CURS_INS_P':'CURSO_PADRE',
               'CURS_INS_M':'CURSO_MADRE',
               'CURSO_P':'CURSO_PADRE',
               'CURSO_M':'CURSO_MADRE',
               'CURSO_PA':'CURSO_PADRE',
               'CURSO_MA':'CURSO_MADRE',           
               'EDAD_P':'EDAD_PADRE',
               'EST_CIVI_M':'EST_CIVIL_MADRE',
               'EST_CIV_M':'EST_CIVIL_MADRE',
               'EST_CIV_MA':'EST_CIVIL_MADRE',
               'URB_RURAL':'URBA_RURAL'
              }

In [13]:
for key,value in data_dict.items():
        value.rename(columns=rename_dict,inplace=True)

In [14]:
df = pd.DataFrame()

In [15]:
for key,value in data_dict.items():
    print("Concating file: %s" %(key))
    print(value.shape)
    df = pd.concat([df,value])

Concating file: DEF_2015.csv
(103327, 55)
Concating file: DEF_2002.csv
(81079, 50)

/Users/sdk/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

Concating file: defun98.csv
(80257, 50)
Concating file: defun99.csv
(81984, 50)
Concating file: DEF_2017.csv
(106388, 50)
Concating file: DEF_2003.csv
(83672, 50)
Concating file: D06_PAIS.csv
(85639, 50)
Concating file: DEF_2004.csv
(86138, 50)
Concating file: PAIS08.csv
(90168, 50)
Concating file: defun2000.csv
(78814, 50)
Concating file: DEF2009.csv
(91965, 51)
Concating file: DEF2011.csv
(94985, 61)
Concating file: def2005.csv
(86102, 50)
Concating file: 2001.csv
(81871, 49)
Concating file: Def2010.csv
(97930, 50)
Concating file: DEF2012.csv
(98711, 60)
Concating file: DEF2013.csv
(99770, 54)
Concating file: DEF2007.csv
(93000, 50)
Concating file: DEF2016.csv
(104026, 50)
Concating file: DEF2014.csv
(101960, 54)
Concating file: defun92.csv
(74090, 49)
Concating file: defun93.csv
(76261, 49)
Concating file: defun91.csv
(74862, 49)
Concating file: defun90.csv
(78434, 49)
Concating file: defun94.csv
(75445, 49)
Concating file: defun95.csv
(78531, 49)
Concating file: defun97.csv
(78472, 50)
Concating file: defun96.csv
(79123, 49)

In [16]:
df.shape

(2443004, 65)

In [23]:
df.to_csv('chile_deaths.csv',sep='|')